
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;/* inherit => 상속받기 */
}

.header {
    height: 100px;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    margin: 0 auto;
}

.header .nav .gnb {
    display: flex;
    gap: 40px;
}

.header .util {
    display: flex;
    gap: 20px;
}

.main_visual {
    background-color: rgb(80, 72, 107);
    height: 100vh;
}

.main_visual h2 {
    font-size: 100px;
    text-align: center;
    line-height: 100vh;
}

.section-01 {
    background-color: bisque;
    padding: 120px 0;
}

.section-01 .inner {
    width: 1280px;
    margin: 0 auto;
}

.section-01 .inner h3 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

.section-01 .inner .list .item {
    width: 305px;
    height: 305px;
    background-color: cornflowerblue;
}

.section-01 .inner .list {
    display: flex;
    justify-content: space-between;
}
/* 두번째 섹션 시작
사이즈는 첫번째와 동일 

다른 점
아이템의 가로 크기 : 305px
이미지의 가로와 세로 크기 : 305px */

.section-02 {
    padding: 120px 0;
}

.section-02 .inner {
    margin: 0 auto;
    width: 1280px;
}

.section-02 .inner h3 {
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.section-02 .inner .list {
    display: flex;
    justify-content: space-between;
}

.section-02 .inner .list .item  {
    width: 305px;
    background-color: aquamarine;
}

.section-02 .inner .item img {
    width: 100%;
    height: 305px;
    object-fit: cover;
}

.section-02 .inner .item p {
    text-align: center;
}


.section-03 {
    padding: 120px 0;
    background-color: burlywood;
}
.section-03 .inner {
    margin: 0 auto;
    width: 1280px;
}

.section-03 .inner h3 {
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.section-03 .inner .list {
    display: flex;
    justify-content: space-between;
}

.section-03 .inner .list .item{
    width: 305px;
    height: 305px;
    background-color: darkolivegreen;
    position: relative;
}

.section-03 .inner .list .item img{
    width: 100%;
    height: 305px;
}
.section-03 .inner .list .item a p{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(250, 235, 215, 0.623);
    color: rgb(191, 236, 236);
    backdrop-filter: blur(7px);
    padding: 10px 0;
    text-align: center;
}

.footer {
    background-color: rgb(221, 160, 79);
    padding: 100px;
    text-align: center;
    color: gainsboro;
}
